@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    background: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'rubik', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    font-size: 38px;
    font-weight: bolder;
    color: black;

}

.cabecalho  img {
    max-width: 700px;
    max-height: 700px;
    width: auto;
    height: auto;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 330px;
}

#input-texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color:black;
    background:transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}

#output {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3% ;
}

#output h2 {
    text-align: center;
    font-size: 25px;
    color: var(--cortitulo);
}

#output span {
    font-size: 16px;
    text-align: center;
}

#output img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: auto;
    margin-top: 4%;
}

.container-bnt button {
    border: 2px solid aqua;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
    background-color:aqua;
}


.container-bnt button:hover {
    border: 2px solid green;
    transition: 1s all;
    background-color:green;
    color:rgb(255, 255, 255);  
}

.btn-copiar {
    border: 2px solid aqua;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
    background-color:aqua; 
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    color:black;
}

.rodape h3 {
    font-size: 16px;
}

.icons ion-icon {
    width: 25px;
    height: 25px;
    color: black;
}

.icons ion-icon:hover {
    color: black;
}